.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-background-color);

&__container {
    display: flex;
    align-items: baseline;
}

&__logo {
    display: inline-block;
    margin-bottom: 20px;

    color: var(--secondary-title-text-color);
}

&__logo--white {
    color: var(--secondary-text-color);
}

&__title {
    display: block;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--secondary-title-text-color);
}

&__socials {
    margin-right: 93px;
}
}